body {
  font-family:”Times New Roman”,sans-serif;
  text-align: left;
  background-color: khaki;
  font-size: 13px;

}
h1 {
  font-size: 20px;
  background-color: aquamarine;
  color: blue;
  text-align: left;
  padding: 2px;
}
.HT {
  margin-left: 40px;
  color: blue;

}
.birth {
  margin-left: 36px;
  color: blue;

}
.gender {
  margin-left: 40px;
  color: blue;
}
.adress {
  margin-left: 60px;
  margin-top: 500px;
}
.button {
  margin-left: 114px;
}
.choose {
  margin-left: 80px;
}
.email {
  margin-left: 65px;
}
.phone {
  margin-left: 40px;
}
.button {
  margin-left: 100px;
}